.navigation{
  background-image: url('images/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
i{
  color: #2DCA72;
}


.txt-right{
 text-align: right;
 margin-top: 1%;;
}
.create{
color: #000000;
font-size: 70px;
}
.ozone{
  margin-top: 1%;;
}
.blog-creative{
margin-top: 10%;
padding-bottom: 5rem;
}

.btn-custom{
  background: #2DCA72;
  border-radius: 50px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  height: 47px;
  width: 147px;
  letter-spacing: 0.48px;
  color: #FFFFFF;
}
.contact-us{
  padding-top: 3rem;
}
.para{
  font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #5E5E5E;
}
.box-sh{
  background: #FFFFFF;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  width: 230px;
  height: 100px;
  text-align: center;
}
.services{
   background-image: url('images/Background-2.png');
   background-size: cover;
   background-repeat: no-repeat;
  padding-top: 5rem;
}
.bg-div{
  background: #F2FFF8;
  border-radius: 12px;
  height: 240px;
  width: 287px;
}
.txt-services{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  color: #293241;
}
.pdd-creative{
  padding-top: 15rem;
}
.card {
  --bs-card-border-color: none;
}
.bg-footer{
  background-image: url('images/bg-footer.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.image-footer-right{
  margin-left: 20%;
}


@media (max-width:2600px) {
  .colonne{
    margin-left: 30px;
    margin-top: 20px;
  }
  
}
@media(max-width: 1024px) {
  .colonne{
     padding-left: 10%;
     margin-right: 116px;
     margin-top: 20px;
    
     
     
    }
    
  }
  @media (max-width:768px) {
    p.featured{
      text-align: center;
    }
    
  }
@media(max-width: 740px) {
  .colonne{
     padding-left:27%;
     
     
    }
  }















 